.container-content {
  flex: 1;
  display: flex;
  overflow: hidden;
  height: 100%;
  margin: 10px 10px 10px 10px;
}

.container-content-rows {
  display: flex;
  min-height: min-content;
  height: 100%;
}

.instructions-text {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background: #0984bf;
  text-align: center;
}

.container-img {
  width: 100%;
  height: 100%;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 0px 0px 0px 0px;
}

.container-controls {
  /* border: 1px solid #C4C4C4; */
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #054f72;
  align-items: center;
}
.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}
.centerSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
:host ::ng-deep .custom-spinner circle {
  stroke: #0984bf;
}
.grid {
  margin: 20px 20px 0px 20px;
  height: 100%;
}

.load-graph-button {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background: #054f72;
}

.reset-settings-button {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background: #0984bf;
}

.container-filters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - 100px);
}

.zoom {
  padding: 10px 0;
  width: 100%;
  height: 100%;
}

.controls-main-selectors {
  padding: 27px 0px;
}
.controls-main-selectors-labels {
  padding: 18px 0px;
}
::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #054f72;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #054f72;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: #054f72;
}
::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #054f72 !important;
  color: white !important;
}

.error-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.error-radio-button {
  margin: 5px;
}

.reload-logs-button {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background: #054f72;
}

.remove-logs-checkbox {
  font-family: "Montserrat", sans-serif;
  color: #054f72;
}
