  <div class="">
  <ul class="bg-blue h-menu"> 
    <li><a href="#">Home</a></li>
    <li><a href="#">Logs</a></li>
    <li><a href="#">Processes</a></li>
    </ul>
  </div>

  <div class="hero hero-bg text-center">
    <div class="display4 fg-blue"><span class="reduce-3 enlarge-3-md">Process Miner</span></div>
    <h4 class="text-center fg-blue text-upper text-light">Welcome</h4>
  </div>

  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      <!-- Content goes here -->
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
