<div class="container-main">
  <div class="container-header">
    <mat-toolbar>
      <div class="container-logo">
        <img class="image-logo" src="assets/img/logo.png">
      </div>
      <h1 class="toolbar-title">
        &nbsp;PSD2Miner
      </h1>
      <div class="toolbar-items">
        <button mat-button routerLink="/processes">Processes</button>
      </div>
    </mat-toolbar>
  </div>
  <div class="container-content">
    <router-outlet></router-outlet>
  </div>
</div>
