# compiled stuff
__pycache__/

# test related stuff
.coverage

# System Files
.DS_Store

# IDE related stuff
.idea/

# config files containing possibly sensitive data
log_retriever_config.yaml

# default output directory
retrieved_logs/

# default graphs directory
common_path/

# concatenated logs
concatenated_files.csv

# graphs for different error types
documentation_errortypes/
