[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
bandit = "*"
pylint = "*"
requests-mock = "*"
pytest-cov = "*"

[packages]
requests = "*"
flask = "*"
flask-caching = "*"
pm4py = "*"
flask-executor = "*"
pandas = "*"
flask-cors = "*"
python-datauri = "*"
flasgger = "*"

[requires]
python_version = "3.8"
