[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
bandit = "*"
pylint = "*"
requests-mock = "*"

[packages]
requests = "*"
flask = "*"
pm4py = "*"

[requires]
python_version = "3.8"
