<mat-toolbar class='logs-toolbar toolbar-title'>
    <h1>
        Filters:
    </h1>
    <div class="toolbar-items">
        <div class="container-dropdown">
            <mat-form-field floatLabel='never'>
                <mat-label>Approach</mat-label>
                <mat-select>
                    <mat-option *ngFor="let approach of approaches" [value]="approach.item">
                        {{ approach.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="toolbar-items">
        <span> </span>
        <div class="container-dropdown">
            <mat-form-field floatLabel='never'>
                <mat-label>Bank</mat-label>
                <mat-select>
                    <mat-option *ngFor="let bank of banks" [value]="bank.item">
                        {{ bank.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <span class="filler"></span>

    <div class="toolbar-items">
        <div class="container-dropdown">
        <mat-form-field floatLabel='never' class="example-full-width">
            <mat-label>Search</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
    </div>
</mat-toolbar>
<div class="container-logs-cards">
<mat-card class="logs-card">
<mat-card-header class="logs-card-header">
    <div mat-card-avatar><i class="material-icons">account_balance</i></div>
    <mat-card-title >Log Number 1</mat-card-title>
    <mat-card-subtitle>21.05.2020 - 19:49</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </mat-card-content>
</mat-card>
</div>
<div class="container-logs-cards">
<mat-card class="logs-card">
    <mat-card-header class="logs-card-header">
        <div mat-card-avatar><i class="material-icons">account_balance</i></div>
        <mat-card-title >Log Number 2</mat-card-title>
        <mat-card-subtitle>21.05.2020 - 19:49</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </mat-card-content>
    </mat-card>
</div>
<div class="container-logs-cards">
    <mat-card class="logs-card">
        <mat-card-header class="logs-card-header">
            <div mat-card-avatar><i class="material-icons">account_balance</i></div>
            <mat-card-title >Log Number 3</mat-card-title>
            <mat-card-subtitle>21.05.2020 - 19:49</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </mat-card-content>
        </mat-card>
    </div>
    <div class="container-logs-cards">
        <mat-card class="logs-card">
            <mat-card-header class="logs-card-header">
                <div mat-card-avatar><i class="material-icons">account_balance</i></div>
                <mat-card-title >Log Number 4</mat-card-title>
                <mat-card-subtitle>21.05.2020 - 19:49</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </mat-card-content>
            </mat-card>
        </div>


<router-outlet></router-outlet>