<mat-toolbar class='logs-toolbar toolbar-title'>
    <h1>
        Filters:
    </h1>
    <div class="toolbar-items">
        <div class="container-dropdown">
            <mat-form-field floatLabel='never'>
                <mat-label>Approach</mat-label>
                <mat-select>
                    <mat-option *ngFor="let approach of approaches" [value]="approach.item">
                        {{ approach.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="toolbar-items">
        <span> </span>
        <div class="container-dropdown">
            <mat-form-field floatLabel='never'>
                <mat-label>Bank</mat-label>
                <mat-select>
                    <mat-option *ngFor="let bank of banks" [value]="bank.item">
                        {{ bank.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <span class="filler"></span>

    <div class="toolbar-items">
        <div class="container-dropdown">
        <mat-form-field floatLabel='never' class="example-full-width">
            <mat-label>Search</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>